<core-scaffold drawerWidth="350px" class="scaffold">
  <core-header-panel navigation flex mode="waterfall">
    <core-toolbar class="app-sidebar">
      <h4 class="toolbar-user-usernmae">{{this.attributes.username}}</h4>
    </core-toolbar>
    <core-menu class="top-panel">
      <core-item icon="settings" label="item1"></core-item>
      <core-item icon="settings" label="item2"></core-item>
      <h1>hi</h1>
    </core-menu>
  </core-header-panel>
  <div tool class="app-toolbar">
    <h1>hi</h1>
  </div>
  <div fit class="app-main">
    <div class="web-accordion-box">
    <form class="web-search-form">
      <input type=text class="home-search-bar" placeholder="Search for products">
    </form>
      <section class="search-results">

      </section>
    </div>
  </div>
</core-scaffold>


<core-media-query query="max-width: 1500px" queryMatches="{{phoneScreen}}">
<core-drawer-panel drawerWidth="300px">
  <core-header-panel drawer class="drawer-panel">
    <core-toolbar>
    </core-toolbar>
    <div class="drawer-content">
      <paper-shadow z="1"><div class="drawer-menu">
        <h5 class="drawer-user-email">{{this.attributes.email}}</h5>
        <h5 class="drawer-user">{{this.attributes.username}}</h5>{{log this}}
      </div></paper-shadow>
      <h3 class="drawer-option drawer-title"><core-icon icon="view-list"></core-icon>My List</h3>
      <div class="drawer-option drawer-friends">
        <core-icon icon="social:people"></core-icon> Friends:
        {{#each this.attributes.friends}}
          <h5 class="drawer-friend"><core-icon icon="social:person"></core-icon>{{this}}</h5>
        {{/each}}
      </div>
    </div>
  </core-header-panel>
  <core-header-panel main>
    <paper-shadow z="3">
      <header class="app-header">
        <paper-icon-button icon="menu" class="menu-drawer-icon" core-drawer-toggle></paper-icon-button><h2 class="app-title"><i class="fa fa-square-o app-title-icon"></i> StoreSquare</h2>
        <paper-icon-button  icon="search" class="app-title-user"></paper-icon-button>
      </header>
    </paper-shadow>
    {{log this}}
    <section class="accordion-container">
    <div id="accordion" class="home-accordion">
      <h3 class="accordion-header header-search"><core-icon icon="search" class="search-header-icon"></core-icon></h3>
      <div class="search-box accordion-box">
      <form class="home-search-form">
        <input type=text class="home-search-bar" placeholder="Search for products">
      </form>
        <section class="search-results">

        </section>
      </div>
      <h3 class="accordion-header header-list"><core-icon icon="list"></core-icon></h3>
      <div class="list-box accordion-box">
        <div class="user-list"></div>
        <paper-fab icon="add" class="item-list-add"></paper-fab>
      </div>
      <h3 class="accordion-header header-plus"><core-icon icon="add"></core-icon></h3>
      <div class="plus-box accordion-box">
        <form class="plus-form">
          <paper-input type="url" class="plus-input plus-url" floatingLabel=true label="What is the url?"></paper-input>
          <paper-input type="text" class="plus-input plus-name" floatingLabel=true label="What do you want to call it?"></paper-input>
          <paper-autogrow-textarea><textarea class="plus-input plus-description" placeholder="Any notes you want to leave?"></textarea></paper-autogrow-textarea>
          <input type="file" class="plus-input plus-picture" placeholder="You can add pictures if you want">
          <paper-button raised class="plus-input plus-submit">Save</paper-button>
        </form>
      </div>
    </div>
      <!--<footer class="home-footer">
        <i class="fa fa-list-ul home-icon home-list"></i><i class="fa fa-plus home-icon home-plus"></i>
      </footer>-->
    </section>
  </core-header-panel>
</core-drawer-panel>
</core-media-query>
