<paper-shadow z="1" class="list-item-header"><h4 class="item-title"><span class="list-item-header-name">{{name}}</span></h4></paper-shadow>
<div class="item-information">
  <div class="item-picture-box">
    <img src="{{image}}" class="item-picture">
  </div>
  <h4 class="item-title-information">{{name}}</h4>
  <h4 class="item-price">Price: ${{salePrice}}</h4>
  {{#if color}}
  <h5 class="item-color">Color: {{color}}</h5>
  {{/if}}
  {{#if customerReviewAverage}}
  <h4 class="item-average-review">Average Review Score: {{customerReviewAverage}}</h4>
  {{/if}}
  {{#if shortDescription}}
  <p class="item-description">Description: {{shortDescription}}</p>
  {{/if}}
  {{#if features}}
  <ul class="item-features">
    {{#each features}}
      <li class="item-single-feature">{{feature}}</li>
    {{/each}}
  </ul>
  {{/if}}
  <a href="{{url}}"><i class="fa fa-external-link list-item-link-icon"></i></a>
</div>
