<h4 class="item-title">{{title}}<span class="list-item-header-price">{{price}}<span></h4>
<div class="item-information">
  <div class="item-picture-box">
    <img src="{{picture}}" class="item-picture">
  </div>
  <h4 class="item-title-information">{{title}}</h4>
  <h4 class="item-price">{{price}}</h4>
  <p class="item-description">{{description}}</p>
  <a href="{{url}}"><i class="fa fa-external-link list-item-link-icon"></i></a>
</div>
