<paper-button class="close-modal"><core-icon icon="close"></core-icon></paper-button>
<div class="modal-background"></div>
{{#if isEditing}}
<div class="item-information">
  <div class="item-picture-box">
    <img src="{{image}}" class="item-picture">
  </div>
<form class="list-item-edit-form">
  <paper-input class="list-item-edit-input edit-name" floatingLabel=true value="{{name}}" label="My item's name"></paper-input>
  <paper-input class="list-item-edit-input edit-color" floatingLabel=true value="{{color}}" label="My item's color"></paper-input>
  <paper-input class="list-item-edit-input edit-price" floatingLabel=true value="{{salePrice}}" label="My item's price"></paper-input>
  <textarea class="list-item-edit-input edit-description" placeholder="{{shortDescription}}"></textarea>
  <paper-button class="list-item-edit-save"><core-icon icon="save"></core-icon> Save</paper-button>
</form>
  <paper-button class="list-item-edit-cancel"><core-icon icon="close"></core-icon> Cancel</paper-button>
</div>

{{else}}
<div class="item-information">
  <div class="item-picture-box">
    <img src="{{image}}" class="item-picture">
  </div>
  <h4 class="item-title-information">{{name}}</h4>
  <h4 class="item-price">Price: ${{salePrice}}</h4>
  {{#if color}}
  <h5 class="item-color">Color: {{color}}</h5>
  {{/if}}
  {{#if customerReviewAverage}}
  <h4 class="item-average-review">Average Review Score: {{customerReviewAverage}}</h4>
  {{/if}}
  {{#if shortDescription}}
  <p class="item-description">Description: {{shortDescription}}</p>
  {{/if}}
  {{#if features}}
  <ul class="item-features">
    {{#each features}}
      <li class="item-single-feature">{{feature}}</li>
    {{/each}}
  </ul>
  {{/if}}
  <paper-button class="reviews"><core-icon icon="maps:rate-review"></core-icon> Reviews</paper-button>
  <div class="review-box"></div>
  <paper-button><a href="{{url}}"><core-icon icon="link"></core-icon></a>Link</paper-button><paper-button class="list-item-edit"><core-icon icon="assignment"></core-icon> Edit</paper-button><paper-button class="list-item-delete"><core-icon icon="delete"></core-icon> Delete</paper-button>
</div>
{{/if}}
