{{#if reviews}}
{{#each reviews}}
<div class="review-container">
  <h4 class="review-date"><core-icon icon="today"></core-icon> {{moment this.submissionTime}}</h4>
  <h4 class="reviewer-name"><core-icon icon="social:person-outline"></core-icon> {{this.reviewer.[0].name}}</h4>
  <h4 class="review-rating">{{this.rating}} of 5</h4>
  <h3 class="review-title">{{this.title}}</h3>
  <p class="review-content">{{this.comment}}</p>
</div>
{{/each}}
{{else}}
<h4 class="review-error">There are currently no reviews for this product</h4>
{{/if}}
